body {
    background-color: #222020;
}

#Main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#header {
    display: flex;
    width: 100%;
    height: 15px;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    z-index: 99;
}

#faixaAtual {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#header-logo {
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0%;
}

#diaEnoite {
    color: #ffffff;
    height: 23px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

#menu {
    display: grid;
    grid-template-columns: 29vh;
    grid-template-rows: 5vh 5vh 5vh 10vh;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/source/img/annie-spratt-_dAnK9GJvdY-unsplash.jpg);
    background-position: 70%;
    padding: 15px;
}

/*Botao */
#button {
    justify-self: center;
    width: 70px;
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #3333337a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: #000000;


}

#button:hover {
    background-color: #ffffff;
    color: #000000;
    animation-name: buttonAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes buttonAnimation {
    0% {
        transform: rotate(360deg);

    }

    100% {
        transform: rotate(0deg);
        color: #000000;
        background-color: #ffffff;
        width: 100px;
        height: 60px;
    }
}

/*TEXTO DE ESTUDO*/


.TextiJS {
    word-wrap: break-word;
    margin-bottom: 35px;
}

.TextiJS:hover {
    cursor: pointer;
}

.TextoInglesJS {
    margin: 0 auto;
    color: rgb(240, 230, 230);
    display: block;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
    /* cursor: default; */

}

.TextoInglesJS:hover {
    font-size: 6vh;
    background-color: #e7dfdf;
    color: #000000;
}

.TextoTraduzidoJS {
    color: rgb(0, 110, 255);
    display: block;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    word-wrap: break-word;

    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
    /* cursor: default; */

}


/*INPUTS FILES*/
input[type="file"] {
    display: none;
}

/*INPUT FILES */
.labels {
    border-radius: 12px;
    background-color: #3333337a;
    color: #e7dfdf;
    text-align: center;
    font-family: inherit;
    font-size: 2.5vh;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

.labels:hover {
    background-color: #e7dfdf;
    color: #000000;
}

/*MODULO SELETOR*/
select {
    /*// A reset of styles, including removing the default dropdown arrow*/
    appearance: none;
    /*// Additional resets for further consistency*/
    background-color: #3333337a;
    color: #e7dfdf;
    border-radius: 12px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: 2.5vh;
    cursor: pointer;
    line-height: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
}

select:hover {
    background-color: #e7dfdf;
    color: #000000;
}

/*SETA*/


#setaCurva {
    display: block;
    width: 23px;
    margin: 20px auto;
    display: none;
    cursor: grabbing;
    transform: rotate(180deg);
}

/*Animação do MENU*/
.menuAnimation {
    animation-name: menuAnimation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes menuAnimation {
    0% {
        opacity: 100%;
        transform: translateY(180pxx);
    }

    50% {
        opacity: 100%;
    }

    100% {

        opacity: 0%;
        display: none;

    }
}

/*Animação da SETA*/

/*Responsive*/
@media only screen and (min-width: 1000px) {
    .labels {
        font-size: 3dvh;
    }

    select {
        font-size: 3dvh;
    }


}

@media only screen and (max-width: 600px) {
    .labels {
        font-size: 2dvh;
    }

    select {
        font-size: 3dvh;
    }

}

/*Animação da SETA*/
.alterarCordoTexto {
    color: white;
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar {
    width: 6px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {

    background-color: #808080;
}