body{
    background-color: rgb(223, 223, 223);
}
#Main{
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    

}
#header{
    margin-bottom: 10px;
    background-color: #000000;
    
}

#header-logo{
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
}
#menu{
    display: grid;
    grid-template-columns: 29vh ;
    grid-template-rows:5vh 5vh 5vh 10vh;
    justify-content:center;
    align-items:center;
}
/*Personalização dos items em questão*/
#input{

}
.inputs{
    
}
#filepicker{

}
#Modulo{

}
/*Botao */
#button{
  background-colrgb(255, 255, 255)#333; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  background-color: #333333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor:pointer;
}
#button:hover{
    background-color: #524e4e;
}

/*TEXTO DE ESTUDO*/
.Texti{
    color: azure;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
}
.Texti:hover{
    color: rgb(79, 174, 230);
    font-size: 200%;
    cursor: pointer;
}
/*INPUTS FILES*/
input[type="file"] {
    display: none;
}
/*INPUT FILES */
.labels {
    border-radius: 12px;
    font-size: 16px;
    background-color: #ffffff7a;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
/*MODULO SELETOR*/
select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    /*// Additional resets for further consistency*/
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }